body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('bg.jpg');
    height:10px;
    background-color: rgb(189, 189, 174);
}
.hero-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    padding: 100px 90px 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.left-img img {
    width: 600px;
    margin-top: 10px;
    position: left;
    border-radius: 10px;
    border: 3px solid #79bcd6;
    transition: 0.4s;
}
.left-img img:hover {
    transform: scale(1.05);       
    border-color: #2f3ac7;        
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);  
}
.text-section {
    text-align: center;
    flex: 1;
    margin-top: 30px;
}
.text-section h1 {
    font-family: 'Georgia', sans-serif;
    font-size: 60px;
    letter-spacing: 3px;
    margin: 0;
    color: #1a1717;
}
.subtitle {
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 30px;
    font-family:cursive;
}
.btn-area {
    margin-bottom: 40px;
}

.user-btn, .admin-btn {
    background: #79bcd6;
    color: rgb(7, 7, 7);
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.user-btn:hover, .admin-btn:hover {
    background: #2f3ac7;
}
.note {
    font-size: 12px;
    color: #030303;
}
.hero-container::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 260px;
    background-image: linear-gradient(#ccc 1px, transparent 1px), 
                      linear-gradient(90deg, #ccc 1px, transparent 1px);
    background-size: 40px 40px;
    opacity: 0.4;
    z-index: -1;
}
